.navbar {
    background-color: #555555;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.navbar p {
    color: white;
    font-size: 20px;
}

.navbar a {
    color: white;
    font-size: 20px;
}

.navbar a:hover {
    color: #df8f45;
}

.logo {
    margin-left: auto;
    font-weight: bold;
    flex-direction: column;
    font-size: 25px;
    color: rgb(141, 116, 3);
}

.formulario {
    display: flex;
    justify-content: center;
}

.formulario form {
    background-color: #be8d22;
    padding: 30px; 
    border-radius: 15px;

    width: 100%;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}


.formulario input {
    width: 100%;
    padding: 12px; 
    border-radius: 8px;
    border: 1px solid #999;
    outline: none;
}


.formulario input:focus {
    border: 2px solid #df8f45;
}


button {
    background-color: #c73a17;
    color: black;
    padding: 12px;
    border-radius: 8px;

    width: 100%;
    max-width: 250px;
    align-self: center;

    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #cf6c1b;
}


@media (max-width: 600px) {

    .navbar {
        justify-content: center;
    }

    .logo {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .formulario form {
        padding: 15px;
    }
}
